<div class="student-list-container">
    <h2>Liste des étudiants</h2>
    <a class="add-btn" [routerLink]="'/add'">Ajouter un étudiant</a>
    <table class="table">
        <thead class="table-thead">
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Etablisement</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <td>{{ student.id }}</td>
                <td>{{ student.firstname }}</td>
                <td>{{ student.lastname }}</td>
                <td>{{ student.email }}</td>
                <td>
                    <span *ngIf="establishmentsMap[student.id]; else nonAffected">
                        {{ establishmentsMap[student.id] }}
                    </span>
                    <ng-template #nonAffected>
                        <a [href]="'/affecter-establishment/' + student.id"
                            aria-label="Affecter un établissement à l'étudiant">Non affectée</a>
                    </ng-template>
                </td>

            </tr>
        </tbody>
    </table>


    <div class="bottom-right-btn">
        <p>Ajouter un établissement</p>
        <a [routerLink]="'/add-establishment'">
            <span class="material-symbols-outlined">
                +
            </span>
        </a>
    </div>
    
</div>